<!-- views/partials/massage.ejs -->
<% if (success && success.length) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }) %>
<% } %>

<% if (error && error.length) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-error"><%= msg %></div>
  <% }) %>
<% } %>

<% if (info && info.length) { %>
  <% info.forEach(msg => { %>
    <div class="alert alert-info"><%= msg %></div>
  <% }) %>
<% } %>

<% if (warning && warning.length) { %>
  <% warning.forEach(msg => { %>
    <div class="alert alert-warning"><%= msg %></div>
  <% }) %>
<% } %>

<% if (errors && errors.length) { %>
  <% errors.forEach(err => { %>
    <div class="alert alert-danger"><%= err.msg || err %></div>
  <% }) %>
<% } %>
 