<!-- views/partials/massage.ejs -->
  <!-- Flash messages -->

<% if (success && success.length > 0) { %>
  <% success.forEach(msg => { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }) %>
<% } %>

<% if (error && error.length > 0) { %>
  <% error.forEach(msg => { %>
    <div class="alert alert-danger"><%= msg %></div>
  <% }) %>
<% } %>

<% if (info && info.length > 0) { %>
  <% info.forEach(msg => { %>
    <div class="alert alert-info"><%= msg %></div>
  <% }) %>
<% } %>

<% if (warning && warning.length > 0) { %>
  <% warning.forEach(msg => { %>
    <div class="alert alert-warning"><%= msg %></div>
  <% }) %>
<% } %>

<% if (errors && errors.length > 0) { %>
  <% errors.forEach(err => { %>
    <div class="alert alert-danger"><%= err.msg || err %></div>
  <% }) %>
<% } %>